@import "../../../styles.scss";

.nav-container{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
}

.logo-container div:hover {
  border-color: #FFC300;
}
