<nav class="nav-container navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Contacts Section -->
    <div class="navbar-nav me-auto d-flex align-items-center">
      <p class="text-light mb-0 me-3">Contacts:</p>
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center mb-2">
          <fa-icon [icon]="faWhatsapp" style="color: #25D366;" class="me-2"></fa-icon>
          <span class="text-light">+225 07-796-693-186</span>
        </div>
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faPhone" style="color: #25D366;" class="me-1"></fa-icon>
          <span class="text-light">+225 07-796-693-186</span>
        </div>
      </div>
    </div>

    <!-- Center Round Figure with NcaM -->
    <div class="logo-container navbar-brand mx-auto">
      <div class="rounded-circle d-flex flex-column justify-content-center align-items-center"
      style="width: 80px; height: 80px; border: 2px solid; border-color: #FFD700; transition: border-color 1s ease-in-out; color: white; font-family: 'Georgia', serif;">
      <fa-icon [icon]="faCamera" style="color: #FFD700;" class="mb-1"></fa-icon>
   <span style="font-size: 16px; font-style: italic;">NcaM</span>
 </div>
    </div>

    <!-- Navigation Icons -->
    <ul class="navbar-nav ms-auto d-flex align-items-center">
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="#">Location</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#"><fa-icon [icon]="faUser" style="color: white;"></fa-icon></a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#"><fa-icon [icon]="faCartShopping" style="color: white;"></fa-icon></a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#"><fa-icon [icon]="faMagnifyingGlass" style="color: white;"></fa-icon></a>
      </li>
    </ul>
  </div>
</nav>
